table {
    overflow: hidden;
  }
.table-hover tbody tr:hover td  
{  
    font-weight: bold;
    
    }  
.hover:hover {
    border: black solid;
    background-color: blanchedalmond;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }